
    .bg-image-vertical {
        position: relative;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: right center;
        background-size: auto 100%;
    }
  .btn{
    font-size: 1.25em;
    border: none;
    background: orange;
  }
    .btn:hover{
        background: orange;
    }
    @media (min-width: 1025px) {
        .h-custom-2 {
            height: 100%;
        }
    }
